---
name: "Unit tests and builds"
on:
  push:
    branches: ['**']
  release:
    types: [prereleased, released]
env:
  BASE_IMAGE_NAME: "${{ vars.DOCKER_ORG }}/nansat_base"
  TESTING_IMAGE_NAME: metanorm_tests
jobs:
  tests:
    name: Run unit tests and build package
    runs-on: 'ubuntu-latest'
    strategy:
      matrix:
        version:
          - {'python': '3.7', 'latest': false}
          - {'python': '3.8', 'latest': false}
          - {'python': '3.9', 'latest': false}
          - {'python': '3.10', 'latest': false}
          - {'python': '3.11', 'latest': true}
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Build testing image
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: ./docker
          file: ./docker/Dockerfile_tests
          build-args: |
            BASE_IMAGE=${{ env.BASE_IMAGE_NAME }}:latest-python${{ matrix.version.python }}
          push: false
          load: true
          tags: ${{ env.TESTING_IMAGE_NAME }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

        # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - name: 'Run tests'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
             docker run --rm
             -v "$(pwd):/src"
             -e "GITHUB_ACTIONS=$GITHUB_ACTIONS"
             -e "GITHUB_REF=$GITHUB_REF"
             -e "GITHUB_SHA=$GITHUB_SHA"
             -e "GITHUB_HEAD_REF=$GITHUB_HEAD_REF"
             -e "GITHUB_REPOSITORY=$GITHUB_REPOSITORY"
             -e "GITHUB_RUN_ID=$GITHUB_RUN_ID"
             -e "GITHUB_TOKEN=$GITHUB_TOKEN"
             "${TESTING_IMAGE_NAME}"
             bash -c "coverage run --source=./metanorm -m unittest discover tests"

      - name: 'Install Python 3.11'
        if: ${{ matrix.version.latest }}
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: 'Upload coverage to coveralls.io'
        if: ${{ matrix.version.latest }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pip install coveralls && coveralls --service=github


  publish_python_package:
    name: Build Python package and publish it as a release artifact
    runs-on: 'ubuntu-latest'
    needs: 'tests'
    if: ${{ github.event_name == 'release' }}
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4

      - name: 'Install Python 3.11'
        if: ${{ matrix.version.latest }}
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: 'Build Python package'
        env:
          METANORM_RELEASE: ${{ github.ref_name }}
        run: python setup.py sdist bdist_wheel

      - name: 'Deploy package to the Github release'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: 'dist/*'
          file_glob: true
          tag: ${{ github.ref }}
...